@import './base.css';
@import './fonts/nf.css';

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-highlight);
  transition: 0.4s;
  padding: 3px;
}

button, input, textarea {
  border: none;
  padding: .675em .75em;
  border-radius: .25em;
}

button {
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-highlight-background);
  }
}

@media (min-width: 1024px) {

}
