@import './base.css';
@import './fonts/nf.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-highlight);
  transition: 0.4s;
  padding: 3px;
}

button, input, textarea, select {
  border: none;
  padding: .675em .75em;
  border-radius: .25em;
  background-color: var(--color-background-mute);
  color: var(--color-text);
  cursor: pointer;
}

input:hover, button:hover, select:hover {
  background-color: var(--color-background-soft);
}

input:focus, button:focus, textarea:focus, select:focus {
  outline: var(--color-highlight) solid 1px;
}

textarea, input {
  cursor: text;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-highlight-background);
  }
}

@media (min-width: 1024px) {

}
